<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Week 7</title>
  </head>
  <body>
    <h1>Login Page</h1>

    <form action="/auth/login" method="POST">
      <label for="username">UserName</label>
      <input
        type="text"
        placeholder="Enter your username"
        id="username"
        name="username"
      /><br />
      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Enter your password"
        id="password"
        name="password"
      /><br />
      <%- message %> <br />
      <input type="submit" />
    </form>
  </body>
</html>
